{% set metaTitle = 'Home' %}
{% set activePage = 'home' %}
{% set pageTitle = 'HTML Design Starter Kit' %}
{% extends "templates/default.njk" %}
{% block content %}
  <p>A simple HTML Design Starter Kit for modern web development.</p>
  {{ container(
    link,
    { href: '/ui-kit.html', title: 'Link to UI Kit page' }
  ) }}
  {{ container(
    githubButton
  ) }}
{% endblock %}