{# Usage: #}
{# githubButton() #}

{# Output: #}
{# Button from https://buttons.github.io/ #}

{% macro githubButton() %}

  <a class="github-button" href="https://github.com/appinfini/html-design-starter" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star appinfini/html-design-starter on GitHub">
    Star
  </a>

{% endmacro %}
