include ../partials/layout/head

//- Including all components
include ../partials/accordion/index
include ../partials/button/index
include ../partials/link/index
include ../partials/list/index

body
  div.container
    include ../partials/layout/header

    div.main-content.mt-3
      block content

  include ../partials/layout/foot
