extends ../../templates/default

block pageTitle
  title #{'Profile' + pageTitle}
  - const activePage = 'profile'; 

block content
  h1.title HTML Design Starter Kit

  p.description
    strong A simple HTML Design Starter Kit for modern web development.

  include ../../partials/container/index
    +button({outline: false, title: 'Link button', type: 'link'})
 
  include ../../partials/container/index
    +button({outline: false, title: 'Primary button', type: 'primary'})
 
  include ../../partials/container/index
    +button({outline: true, title: 'Outline button', type: 'primary'})
 
  include ../../partials/container/index
    +list(1, 2, 3, 4)
