<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script async src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script async src="/assets/js/app.js"></script>
