include ./nav-item

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  div.container-fluid
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarTogglerDemo03
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
        +nav-item('Home', '/', 'home')
        +nav-item('About', '/about.html', 'about')
        +nav-item('Profile', '/profile/index.html', 'profile')
        +nav-item('Orders', '/profile/orders.html', 'orders')
